/*Colores*/
:root {
    --yellow: #ffc600;
    --black: #272727;
    --grey: #A1A1A1;
}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
*{
    padding:2px;
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url("./imgs/topography.svg"), linear-gradient(110deg, #06be34, #6d47d9);
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 10px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
    margin:10px;
}
header{
    display:inline;
    grid-row: 1/1;
    grid-column: 2/2;

}
header h1{
    text-align: center;
}
nav{
    grid-row: 2/2;
    grid-column: 1/1;

}
.pagina{
    box-sizing: content-box;
width: 100%;
    display:grid;
    grid-template-columns:13% 87%;
    grid-template-rows:100px auto 80px;
}

.gallery_img{
    grid-column:2/2;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
main{
    grid-row: 2/2;
    grid-column: 2/2;
    display:inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    grid-row-gap: 10px;
    padding:0px;
}
main div{
    box-sizing: border-box;
    width:max-content;
    box-shadow: 2px 2px 2px sandybrown;
    
}
main div :target{
    box-shadow: 2px 5px 10px #33ff33;
}
main *{
    border:1px solid black;
}
footer{
    grid-column:1/1;
    grid-row:3/3;
}
ul{
}
li a{
    text-decoration: none;
    font-family:inherit;
    color: #6d47d9;


    margin:10px;
padding:10px;
    box-sizing: inherit;
    text-align:center;
 
}

li a:active{

}
li{
    font-size: 1.4em;
    padding:5px;
    list-style-type: none;
    margin:4px;
    height:auto;
    border:1px solid black;
    box-shadow: 3px 6px 9px black;

}
/*
ul li{S
    display:block;
    list-style-type: none;
    position:relative;
    float:left;
    padding:0 10px;
}
*/
nav li ul{
    display:none;
    position:absolute;
    top:0px;
    left:120px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0 5px 0;
    padding: 5px;
}


/* Each item in our grid will contain numbers */

.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    background-color: var(--yellow);
    /* best colour */
}

#tintin2{
    grid-column:1/1;
    grid-row:1/1;
}
#tintin3{
    grid-column:2/2;
    grid-row:1/1;
}
#tintin4{
    grid-column:3/3;
    grid-row:1/1;
}
#tintin5{
    grid-column:1/1;
    grid-row:2/2;
}
#tintin6{
    grid-column:2/2;
    grid-row:2/2;
}
#tintin7{
    grid-column:3/3;
    grid-row:2/2;
}
#tintin8{
    grid-column:1/1;
    grid-row:3/3;
}